path {
  display: block;
  z-index: 0;
}

text,
circle {
  display: block;
  z-index: 1000;
}

figure ::ng-deep svg path.link {
  fill: none;
  stroke-width: 2;
}

figure ::ng-deep .node path {
  stroke: black;
  stroke-width: 3;
  fill: white;
}